<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy"
>

    <!-- DI with factory -->
    <bean
        id="myPlayer"
        class="de.manu.springtest.modules.player.Player"
    >
        <constructor-arg name="uuid" value="97afad3f-cdc8-4e8e-9e9d-0b583ff866f1" />
        <constructor-arg name="name" value="zManuu" />
        <constructor-arg name="createdAt" value="27.10.2023-11:00" />
    </bean>

    <bean
        id="myStaticPlayer"
        class="de.manu.springtest.modules.player.Player"
        scope="prototype"
    >
        <constructor-arg name="uuid" value="b38edf70-9123-422c-8767-76f48419ff38" />
        <constructor-arg name="name" value="Passiv" />
        <constructor-arg name="createdAt" value="27.10.2023-10:56" />
    </bean>

    <!-- DI with constructor -->
    <bean
        id="myDataSource"
        class="de.manu.springtest.modules.data.TestDataSource"
        destroy-method="close"
    >
        <constructor-arg ref="debugLogger" />
    </bean>

    <!-- DI with setters -->
    <bean
            id="myServerData"
            class="de.manu.springtest.modules.server.ServerData"
    >
        <property name="version" ref="config-version" />
        <property name="logger" ref="debugLogger" />
        <property name="onlinePlayers">
            <set>
                <ref bean="myPlayer" />
                <ref bean="myStaticPlayer" />
                <!-- inner bean -->
                <bean
                    class="de.manu.springtest.modules.player.Player"
                >
                    <constructor-arg name="uuid" value="7fdb093d-4a5a-45e9-8f00-f435a066e22d" />
                    <constructor-arg name="name" value="Bonobo" />
                    <constructor-arg name="createdAt" value="27.10.2023-11:00" />
                </bean>
            </set>
        </property>
    </bean>

    <!-- Inheritance -->
    <bean
        id="myDefaultVehicle"
        class="de.manu.springtest.modules.vehicle.Vehicle"
    >
        <property name="logger" ref="debugLogger" />
        <property name="name" value="parent" />
        <property name="manufacturerName" value="parent" />
        <property name="hasTrunk" value="true" />
        <property name="trunkCapacityInKg" value="60" />
        <property name="creationDate" value="27.10.2023" />
        <property name="creationTime" value="13:39" />
    </bean>

    <bean
        id="myBetterVehicle"
        parent="myDefaultVehicle"
    >
        <property name="name" value="better" />
        <property name="manufacturerName" value="better-manufacturer" />
    </bean>

</beans>